
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      // UID de l'administrateur
      return request.auth != null && request.auth.uid == 'nXhBQpTuQUh4izB4MBVZPNyn0G52';
    }

    function isUser(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
    
    // --- RÈGLES SPÉCIFIQUES POUR LES COLLECTIONS ---

    // Collection USERS
    // L'admin peut lister tous les utilisateurs.
    // Un utilisateur peut créer son propre profil et lire/mettre à jour uniquement son propre document.
    match /users/{userId} {
      allow get, update: if isUser(userId) || isAdmin();
      allow list: if isAdmin();
      allow create: if request.auth != null; // N'importe qui d'authentifié peut créer un profil utilisateur
    }
    
    // Collection AMBASSADORS
    // L'admin peut lister tous les ambassadeurs.
    // Un ambassadeur peut lire et mettre à jour son propre profil. L'admin peut tout faire.
    match /ambassadors/{userId} {
       allow get: if isUser(userId) || isAdmin();
       allow list, write: if isAdmin(); // L'admin peut lister et écrire (créer, modifier)
       allow update: if isUser(userId); // L'utilisateur peut mettre à jour son propre profil
    }
    
    // Sous-collections des ambassadeurs
    // Un ambassadeur peut lire et écrire dans ses propres sous-collections.
    match /ambassadors/{userId}/{subcollection}/{docId} {
        allow read, write: if isUser(userId) || isAdmin();
    }
    
    // Collection NEWS
    // N'importe quel utilisateur authentifié peut lire les actualités.
    // Seul l'admin peut écrire (créer, modifier, supprimer).
    match /news/{newsId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
    
    // Collection SUPPORTMESSAGES
    // Un utilisateur authentifié peut créer un message de support pour lui-même.
    // L'admin peut tout lire et gérer.
    match /supportMessages/{messageId} {
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow read, list, update, delete: if isAdmin();
    }
  }
}
